
/* Typography */

$main-font: "MontserratRegular", arial, helvetica, sans-serif;
$MontserratBold: "MontserratBold", arial, helvetica, sans-serif;
$MontserratBlack: "MontserratBlack", arial, helvetica, sans-serif;
$Anton: "Anton", arial, helvetica, sans-serif;
$MrDafoe: "MrDafoe", arial, helvetica, sans-serif;

$font-size-base: 18px;
$line-height-base: 36px;


/*Background*/
$body-bg: #fff;

/*Color*/

$text-color: #fff;
$yellow-color: #fcd800;
$dark-color: #010101;
$gray-color: #202020;
$dark-gray-color: #303030;
$light-gray-color: #f4f4f4;